---
layout: questcraft-blank
---

<article class="container px-7 py-5 text-gray-800 border rounded-lg bg-white text-left shadow text-xs max-w-lg">

  <p class="font-bold text-lg">{{ page.title }}</p>

  <div class="">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="inline-flex gap-1">
    {% for tag in page.tags %}
      <div class="text-xs text-white not-italic font-semibold bg-blue-600 py-1 px-2 border rounded shadow font-semibold">
        <span class="tag">{{tag}}</span>
      </div>
    {% endfor %}
  </div>
  
  <div class="break-words py-4">
    <p>{{ content }}</p>
  </div>
  {% include views.html %}
  {% include disqus.html %}
</article>
